tr {
	border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

#moneyPagination {
	margin: 0 auto;
	width: 300px;
}

#showMoneyContainer {
	background-color: white;
	border-right: none;
	border-left: none;
}

#moneyTable {
	width: 100%;
	text-transform: capitalize;

	tr {
		border-top: 1px solid $gray2;

		&:nth-child(even) {
			background-color: $gray1;
		}
	}

	th,
	td {
		padding-left: 1.5em;
	}

	tr:first-child {
		border-top: none;
	}
}

#moneyTableHeaderCol1 {
	width: 65%;
}
