// color pallete
$primary: rgb(25, 118, 210);
$primaryLight: rgb(99, 164, 255);
$primaryDark: rgb(0, 75, 160);
$offwhite: rgb(249, 250, 251);
$gray1: rgb(249, 250, 251);
$gray2: rgb(225, 226, 225);

$color1: rgb(249, 250, 251);
$color2: rgb(250, 250, 250);
$color3: rgb(240, 242, 245);
$color4: rgb(229, 229, 229);
$color5: rgb(255, 255, 255);
