
.dayVisualization {
	width: 102%;
	margin-left: -1%;
	border-left: 1px solid lightslategray;
	position: relative;
	clear: both;
	margin-bottom: 5px;
}

.dayTitle {
	font-size: 10px;
	margin: 0px;
	width: 100%;
	text-align: center;
}

.hourSegment {
	height: 50px;
	width: 4.167%;
	display: inline-block;
	border-right: 1px solid lightslategray;
	background-color: rgb(233, 236, 239);
}

.entryBar {
	position: absolute;
	top: 25%;
	height: 50%;
	background-color: gray;
	border-radius: 3px;

}

.entryType1 {
	background-color: deepskyblue;
}

.entryType2 {
	background-color: orange;
}

.entryType3 {
	background-color: maroon;
}

#legend {
	width: 106%;
	margin-left: -3%;
	padding: 0px 20px 0px 20px;
}

.legendSegment {
	font-size: 10px;
	height: 22px;
	display: inline-block;
	width: 3.1666%;
	margin: .5%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

#popoverContainer {
	display: none;
	position: absolute;
	width: 180px;
	height: 105px;
	z-index: 1;
	padding: 2px;
	/* if height is modified, check for hidePopOver() bug when mouseleave over entryBar */
}

#popoverContainer p {
	margin: 0px 5px 0px 5px;
	display: inline-block;
	width: 50%;

}

#popOverContent{
	width: 100%;
	background-color: rgb(233, 236, 239);;
	border-radius: 2px;
	border: 1px solid lightslategray;
	font-size: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.btn-popover {
	position: absolute;
	height: 12px;
	width: 12px;
	padding: 0px;
	right: 10px;
	top: 10px;
	border-radius: 4px;
}

#toggleClassButton {
	top: 28px;
}
