
.visualContainer {
	width: 100%;
	margin-left: 0%;
	height: 50px;
	border-left: 1px solid lightslategray;
	position: relative;
	clear: both;
	margin-bottom: 5px;
}

.dateContainer {
	font-size: 10px;
	margin: 0px;
	width: 100%;
	text-align: center;
}

.hourSegment {
	height: 100%;
	width: 4.1676%;
	float: left;
	border-right: 1px solid lightslategray;
	background-color: rgb(233, 236, 239);
}

.entryBar {
	position: absolute;
	top: 25%;
	height: 50%;
	opacity: .8;
	background-color: gray;
}

.entryType1 {
	background-color: deepskyblue;
}

.entryType2 {
	background-color: orange;
}

.legendContainer {
	width: 100%;
	position: relative;
}

.legendSegment {
	font-size: 8px;
	float: left;
	width: 3.1666%;
	margin: .5%;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}
