.row > div {
  border: 1px solid black;
  overflow: visible;
}

#mainContainer {
  display: none;
}

#landingContainer {
  display: none;
}

.form-control, .form-control-sm {
  border-radius: 0px;
}

form > .btn {
  border-radius: 0px;
  width: 100%;
}

.customTables {
  width: 100%;
}

#moneyTable {
  text-transform: capitalize;
}

#signInForm{
  margin: 50px;
}

.popoverContainer {
  height: 0px;
  overflow: hidden;
  font-size: 100%;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
  position: relative;
}

.hasPopover  {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 1;
  position: relative;
  border-radius: 3px;
}

.popoverBody {
  position: relative;
  background-color: aliceblue;
  width: 100%;
  height: 0px;
  z-index: -3;
}




/* material design shadows */
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


