.row > div {
  border: 1px solid black;
  overflow: visible;
}

#mainContainer {
  display: none;
}

#landingContainer {
  display: none;
}

.form-control, .form-control-sm {
  border-radius: 0px;
}

form > .btn {
  border-radius: 0px;
  width: 100%;
}

.customTables {
  width: 100%;
}

#moneyTable {
  text-transform: capitalize;
}

#signInForm{
  margin: 50px;
}

.popoverContainer {
  border: 1px solid black;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 5000ms ease-in-out;
}

.popoverContainer.isVisible {
  max-height: 100px;
}

#popoverBody {
  background-color: gainsboro;
  width: 100%;
  height: 100px;
}
